/*   IMPORTAÇÃO DA FONTE*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*alterar cor do placeholder*/
::-webkit-input-placeholder {
    color: white;
    font-size: 15px;
 }
.container{
    position: relative;
    width: 1920px;
    height: 2144px;
    background: #FFFFFF;
}
/* estilizando header*/
.banner-1{
    position: absolute;
    width: 1920px;
    height: 840px;
    top: 0;
    left: 0;
    background: url('../img/principal_banner_desktop.jpg') no-repeat ;
}
.banner-2{
    display: none;
    position: absolute;
    width: 1920px;
    height: 840px;
    top: 0;
    left: 0;
    background: url('../img/principal_banner_desktop_02.jpg') no-repeat ;
}
.banner-mobile-1{
    display: none;
    position: absolute;
    width: 1920px;
    height: 840px;
    top: 0;
    left: 0;
    background: url('../img/principal_banner_mobile.jpg') no-repeat ;
}
.banner-mobile-2{
    display: none;
    position: absolute;
    width: 1920px;
    height: 840px;
    top: 0;
    left: 0;
    background: url('../img/principal_banner_mobile_02.jpg') no-repeat;
}
.nav-banner{
    position: absolute;
    width: 63px;
    height: 384px;
    left: 1857px;
    top: 212px;

    background: #3EC6E0;
    border-radius: 0px 0px 0px 10px;
}
.botoes-paginacao{
    position: absolute;
    width: 63px;
    height: 84px;
    left: 1857px;
    top: 512px;

    background: #084154;
    border-radius: 0px 0px 0px 10px;
}

.texto-navba{
    position: absolute;
    width: 114px;
    height: 9.98px;
    left: 1840px;
    top: 300px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    transform: rotate(90deg);
}
.line3{
    position: absolute;
    width: 77px;
    height: 0px;
    left: 1853px;
    top: 450px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

/* BOTOES DE NAVEGAÇÃO*/
.paginacao{
    position: absolute;
    width: 100%;
    height: 50%;
    text-align: center;
    line-height: 50px;
    color: #FFFFFF;
}
.botoes{
    position: absolute;
    top:50%;
    width: 100%;
    height: 50%;
}

.botao-navegacao-prev{
    position: absolute;
    left: 12px;
    top: 5px;
    width: 17px;
    height: 20px;
    padding: 5px;
    
}
.botao-navegacao-next{
    position: absolute;
    width: 17px;
    height: 20px;
    left: 35px;
    top: 5px;
    padding: 5px;
}
.navegacao-prev-left{
    position: absolute;
    top: -2px;
    left: 1px;
    width: 17px;
    height: 20px;
    border: 0;
    color: #FFFFFF;
}
.navegacao-prev-right{
    position: absolute;
    top: -2px;
    left: 2px;
    width: 17px;
    height: 20px;
    color: #FFFFFF;
}

/* HEADER DA PAGINA*/
.header{
    position: absolute;
    width: 1189px;
    height: 35px;
    left: 373px;
    top: 44px;
}
.hamburguer-icon{
    position: absolute;
    width: 30px;
    height: 35px;
    left: 0;
    top: 2px;
    color: #FFFFFF;
    font-size: 35px;
}
.img-header img {
    position: absolute;
    width: 163px;
    height: 35px;
    left: 73px;
    top: 0px;
}
/*MENU DO CLIENTE*/
.menu-cliente{
    position: absolute;
    width: 420px;
    height: 31px;
    left: 769px;
    top: 3px;
}
.linha-cliente-1{
    position: absolute;
    width: 30px;
    height: 0px;
    left: 153px;
    top: 1px;

    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}
.linha-cliente-2{
    position: absolute;
    width: 30px;
    height: 0px;
    left: 330px;
    top: 1px;

    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}
.bolsa{
    position: absolute;
    width: 51px;
    height: 26px;
    left: 369px;
    top: -10px;
}
.bolsa-background{
    position: absolute;
    width: 23px;
    height: 23px;
    left: 28px;
    top: 0px;

    background-color: #3EC6E0;
    border-radius: 50px;
}
.bolsa-numero{
    position: absolute;
    width: 9px;
    height: 16px;
    left: 36px;
    top: 4px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;

color: #FFFFFF;
}

.bolsa-icon {
    position: absolute;
    width: 22;
    height: 22;
    left: 0%;
    right: 0%;
    top: -2px;
    bottom: 0%;
    font-size: 25px;

    color: #FFFFFF;
}
.buscar-campo input{
    position: absolute;
    width: 80px;
    height: 18px;
    left: 250px;
    top: -8px;
    padding-left: 5px;

    box-shadow: 0 0 0 0;
    outline: 0;

    border: none;
    text-decoration: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: white;

    background-color: black;

}
.lupa-icon img{
    position: absolute;
    width: 25.73px;
    height: 25.72px;
    left: 200px;
    top: -10px;
}
.contato-nome{
    position: absolute;
    width: 63px;
    height: 16px;
    left: 70px;
    top: -8px;
    padding: 2px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;

    color: #FFFFFF;

}
.contato-icon img{
    position: absolute;
    left: 34px;
    top: -15px;

    transform: rotate(-5deg);
}

/* mudando o curso no contato e na lupa*/
#lupa:hover ,.bolsa:hover ,.nav-hover:hover , #contato:hover, .botoes:hover{
    cursor: pointer;
}
/*MENU ESCONDIDO*/

.nav-hover{
    display: none;
    position: absolute;
    width: 565px;
    height: 249px;
    left: 344px;
    top: 93.48px;

    /* Dark blue */
    box-shadow: 10px 10px 0 0 #3EC6E0;
    background: #084154;
    /* Blue */

    border: 2px solid #3EC6E0;
    box-sizing: border-box;
    border-radius: 5px;
}
.ponteiro-menu{
    position: absolute;
    left: 27px;
    top: -66px;
    width: 0; 
    height: 50px; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #3EC6E0;
    /* Blue */
    
}
.luta{
    position: absolute;
    width: 32px;
    height: 19px;
    left: 46px;
    top: 30.48px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

}
.conteudo-luta{
    position: absolute;
    width: 94px;
    height: 124px;
    left: 35px;
    top: 65.48px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}
.acao-aventura{
    position: absolute;
    width: 120px;
    height: 19px;
    left: 225px;
    top: 30.48px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}
.conteudo-acao-aventura{
    position: absolute;
    width: 79px;
    height: 124px;
    left: 215px;
    top: 65.48px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}
 .corrida{
    position: absolute;
    width: 54px;
    height: 19px;
    left: 400px;
    top: 30.48px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
    
 }
 .conteudo-corrida{
    position: absolute;
    width: 105px;
    height: 52px;
    left: 400px;
    top: 65.48px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;
 }
 .linha-mobile-1,.linha-mobile-2{
    display: none;
 }
.conteudo-categorias{
    width: 135px;
    padding: 10px 0 10px 10px;
    margin-bottom: 10px;
}
/* colocando background nos elementos do menu */
.conteudo-categorias:hover{
    background: #3EC6E0;
    border-radius: 5px;
    cursor: pointer;
}
/*INFORMAÇÕES DO BANNER PRINCIPAL*/
.banner-info{
    position: absolute;
    width: 420px;
    height: 327px;
    left: 1015px;
    top: 209px;
}
.header-banner-info{
    position: absolute;
    width: 384px;
    height: 54px;
    left: 36px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 54px;

    color: #FFFFFF;
}
.preco-banner{
    position: absolute;
    width: 266px;
    height: 82px;
    left: 147px;
    top: 54px;
}
.preco-real{
    position: absolute;
    width: 226px;
    height: 82px;
    left: 0px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 82px;

    color: #3EC6E0;
}

.preco-centavos{
    position: absolute;
    width: 40px;
    height: 33px;
    left: 215px;
    top: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 33px;

    color: #3EC6E0;
}
.descricao-banner{
    position: absolute;
    width: 420px;
    height: 163px;
    left: 0px;
    top: 164px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;

    text-align: right;

    color: #FFFFFF;
}

/* banners zelda e sekiro*/
.banner-zelda{
    position: absolute;
    width: 627px;
    height: 425px;
    left: 323px;
    top: 691px;
    background: url('../img/zelda_banner.jpg') no-repeat;

}
.background-nome-zelda-sekiro{
    position: absolute;
    width: 588px;
    height: 61px;
    left: 0px;
    top: 357px;

    background: #3EC6E0;
    border-radius: 0px 0px 5px 5px;
}
.retangulo-zelda-sekiro{
    position: absolute;
    width: 11px;
    height: 61px;
    left: 0px;
    top: 357px;

    background: #084154;
    border-radius: 0px 0px 0px 5px;
}
.name-card-zelda-sekiro{
    position: absolute;
    width: 299px;
    height: 19px;
    left: 30px;
    top: 380px;
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #084154;
}
.line-zelda-sekiro{
    position: absolute;
    width: 248px;
    height: 0px;
    left: 330px;
    top: 389px;

    border: 1px solid #084154;
}

.banner-sekiro{
    position: absolute;
    width: 627px;
    height: 368px;
    left: 970px;
    top: 691px;

    background: url('../img/sekiro_banner.jpg') no-repeat;
}

/*HEADER DESTAQUES*/
.destaques{
    position: absolute;
    width: 408px;
    height: 42px;
    left: 327px;
    top: 1199px;
}
.pontos-destaques{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0px;
    top: 5px;
}
.produtos-destaques{
    position: absolute;
    width: 358px;
    height: 42px;
    left: 50px;
    top: -6px;

    font-family: roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;

    /* Dark blue */

    color: #084154;
}

/*ESTILIZAR PRODUTO*/

.foto-produto img{
    position: absolute;
    width: 350px;
    height: 362px;
    left: 0px;
    top: 36px;
}
.retangulo-produto{
    position: absolute;
    width: 350px;
    height: 2px;
    left: 0px;
    top: 414px;

    background: #3EC6E0;
}
.produto-nome{
    position: absolute;
    width: 250px;
    height: 16px;
    left: 36px;
    top: 441px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;

    color: #084154;
}
.produto-preco{
    position: absolute;
    width: 84px;
    height: 21px;
    left: 36px;
    top: 484px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight:900;
    font-size: 18px;
    line-height: 21px;
    
    color: #084154;
}
.produto-comprar{
    position: absolute;
    width: 240px;
    height: 52px;
    left: 55px;
    top: 529px;
    cursor: pointer;

    background: #3EC6E0;
    border-radius: 5px;
}
.produto-comprar button{
    position: absolute;
    width: 142px;
    height: 17px;
    left: 49px;
    top: 15px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    background: #3EC6E0;
    color: #FFFFFF;

    text-decoration: none;
    border: none;
}
/*FOOTER DA PAGINA*/
.footer{
    position: absolute;
    width: 1920px;
    height: 50px;
    left: 0px;
    top: 2094px;
}
.retangulo-footer{
    position: absolute;
    width: 1373px;
    height: 50px;
    left: 547px;
    top: 0px;

    /* Blue */

    background: #3EC6E0;
}
.retangulo-footer-2{
    width: 547px;
    height: 50px;
    left: 0px;
    top: 0px;

    /* Dark blue */

    background: #084154;
}
.img-footer img{
    position: absolute;
    width: 42px;
    height: 28px;
    left: 461px;
    top: 11px;

}
.direitos-reservados{
    position: absolute;
    width: 263px;
    height: 16px;
    left: 582px;
    top: 17px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;
}

.modal-compra-finalizada{    
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 2144px;
    background: rgba(8, 65, 84, 0.62);
    
}
.modal-div-compra-finalizada{
    position: absolute;
    width: 400.21px;
    height: 500px;
    left: 759.4px;
    top: 831px;

    background: #FFFFFF;
    border-radius: 5px;
}
.modal-header-compra-finalizada{
    position: absolute;
    width: 245.13px;
    height: 79px;
    left: 73px;
    top: 115px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    background-color: #FFFFFF;

    color: #084154;
}
.modal-line-compra-finalizada{
    position: absolute;
    width: 399.21px;
    height: 0px;
    left: 1px;
    top: 145px;

    /* Dark blue */

    border: 1px solid #084154;
}
.modal-imagem-compra-finalizada{
    position: absolute;
    width: 217.11px;
    height: 279px;
    left: 88.4px;
    top: 221px;
    
    background: url('../img/image\ 6.png');
}
.close-modal-compra-finalizada{
    position: absolute;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    background-color: #F55959;
    width: 50.03px;
    height: 50px;
    left: 341.17px;
    top: 14px;
    line-height: 60px;
    border-radius: 100px;
    cursor: pointer;
    
}
.modal-ajax-load{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 2144px;
    background: rgba(8, 65, 84, 0.62);
}
.modal-div-load{
    position: absolute;
    width: 400.21px;
    height: 500px;
    left: 759.4px;
    top: 831px;
}
.modal-div-load img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
}


